@charset "UTF-8";
/* CSS Document */


html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	color: #000;
	background-color: #f00;
}

#container
{
	margin: 0;
	background-color: #FFF;
	background-image: url();
	background-repeat: repeat-y;
	border: 0px solid #333;
}






#banner
{
	background-color: #07396b;
	background-image: url(barheader.jpg);
	background-repeat: repeat-x;
	border-bottom: 5px solid #8dc400;
}

#banner h1
{
	margin: 0;
	padding-top: .5em;
	color:#fff;
}

#banner h2
{
	margin: 0;
	padding: .5em;
	color:#fff;
}

#banner h3
{
	margin: 0;
	padding: .5em;
	color:#fff;
}







#content
{
	clear: both;
	background-color: #e3ecf3;
	background-image: url();
	background-repeat: repeat-x;
	padding:  50px 100px 50px 100px;
	border-top: 1px solid #000;
	font-size:12px;
	color:#000;
	min-height:100%;
	height: auto;
	height: 100%;
	margin: 0 auto 0 em;
	border:0;
}

#push {
height: 4em;
 }

#footer
{
	clear: both;
	background-color: #6a9bbc;
	background-image: url(barfooter.jpg);
	background-repeat: repeat-x;
	padding:  30px 100px 30px 100px;
	border-top: 1px solid #000;
	font-size:12px;
	color:#000;
	border:0;
}




a, a:hover, a:visited	{color:#6193b8;
	font-style:none;
	text-decoration:none;
	}




input.radio {
	width: 1.2em;
	height: 1.2em;
	padding: 0 0 0 0;
	background: url() no-repeat;
	display:compact;
	clear: none;
	float: none;
}

select.one {
	width:auto;
	height: auto;
	padding: 0 0 0 0;
	color: #052e49;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

input.submit, input.reset {
	width: auto;
	height: auto;
	padding: 0 0 0 0;
	color: #052e49;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

textarea.one {
	padding: 0 0 0 0;
	color: #052e49;
	font: bold 11px ;
	overflow: auto;
	border: 1px solid #4f6b72;
}




td.one {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #052e49;
	border-left: 1px solid #d9e4ed;
	border-top: 0;
	border-right:0;
	background: #fff url() no-repeat;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	padding: 10px 10px 10px 10px;
}

td.three {
	font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-left: 1px solid #d9e4ed;
	border-top: 0;
	border-right: 1px solid #d9e4ed;
	border-bottom: 1px solid #d9e4ed;
	background: #fff url() no-repeat;
	text-align: left;
	padding: 10px 12px 10px 10px;
}



th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 0px solid #d9e4ed;
	border-bottom: 1px solid #d9e4ed;
	border-top: 1px solid #d9e4ed;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(tableheader.jpg) no-repeat;
}


th.title {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: none;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #d9e4ed;
	background: none;
}

td {
	border-right: 1px solid #d9e4ed;
	border-bottom: 1px solid #d9e4ed;
	border-left: 1px solid #d9e4ed;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.two {
	background: #eef8f8;
	color: #6e604d;
}


th.main {border-left: 1px solid #d9e4ed;
	border-top: 0;
	background: #fff url() no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
	text-transform:none;
	}

th.one {
	border-left: 1px solid #d9e4ed;
	border-top: 0;
	background: #fff url() no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.two {
	border-left: 1px solid #d9e4ed;
	border-top: 0;
	background: #eef8f8 url() no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #6e604d;
}
