body, table {
	font-family: sans-serif;
	font-size: small;
}
.hit {
	background: #ffe;
	border: 1px dotted #ccc;
	margin-bottom: 1ex;
}
.footer {
	background: #eee;
}
.monospace {
	font-family: monospace;
	padding-left: 2em;
	padding-right: 2em;
}
.red {
	color: red;
}
/*.pwanchor {
	color: navy;
	text-decoration: none;
}
.pwanchor:hover {
	text-decoration: underline;
}*/
a {
	color: #009;
	text-decoration: underline;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
.summarycell {
	padding-right: 2em;
	padding-bottom: 1ex;
}
.scorecell {
	/*padding-left: 1em;
	padding-right: 1em;
	width: 4em;
	max-width: 4em;*/
	text-align: right;
}
table {
	max-width: 50%;
}
